<div class="container">
  <app-navbar></app-navbar>
  <!-- <h1>{{ title }}</h1>
  <input
    type="text"
    (keydown)="handleTxtKeyDown($event)"
    [(ngModel)]="inputValue"
  />
  <p [innerText]="inputValue"></p>
  <button type="button" class="btn btn-primary" (click)="handleBtnClick()">
    Primary
  </button> -->
  <!-- <app-calculator></app-calculator> -->
  <!-- <app-class-directive></app-class-directive> -->
  <!-- <app-style-directive></app-style-directive> -->
  <!-- <app-ngif-directive></app-ngif-directive> -->
  <!-- <app-ngfor-directive></app-ngfor-directive> -->
  <!-- <app-calculator2></app-calculator2> -->
  <app-ngswitch-directive></app-ngswitch-directive>
</div>
